/* reset */
a {
    color: inherit;
    text-decoration: none;
}

/*clearfix*/
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* common */
html {
    font-size: 10px;
}

body {
    font: 14px "NGothic", Arial, sans-serif;
    background: #aaa;
    position : relative;
}

h1,
h2,
h3 {
    font-weight: bold;
}
#wrapper{
    width: 70%;
    position: relative;
    margin: 0 auto;
    border: 1px solid white;
    background: white;
}
#wrapper header {
    background: orange;
    text-align: center;
    color: white;
    padding: 10px;
    
}

#wrapper header h1 {
    font-weight: 900;
    font-size: 60px;
    margin: 10px 0;
}

 .p {
    background: lightgray;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
}

.content {
    background: gray;
    width: 60%;
    margin: 0 auto;
}

.content article {
    height: 100px;
    padding: 10px;
}

.content article h2 {
    width: 400;
    background: navy;
    margin-bottom: 10px;
}

.content article h2 a {
    font-size: 20px;
    color: white;
}
.content article h2 a:hover{
    text-decoration: underline;
}
.content article h3{
    margin: 10px 5px;
    font-weight: bold;

}
aside{
     width: 20%;
    background: white;

}

.left {
    
    position: absolute;
    left: 0;
    top: 140px;
}

.left div {
    background: red;
    font-size: 20px;
}

.left div h2 {
    color: white;
}
.left ul li{
    height: 100px;
    display: inline-block;
    margin: 10px;

}
.left ul li a:hover{
    color: red;
    text-decoration: none;
    border-bottom: dotted;
}
.left ul li a {
    width: 200px;
    text-decoration: underline;
    display: inline-block;
    padding: 10px;


}

.right {
    position: absolute;
    right: 0;
    top: 140px;

}
.right div {
    padding: 10px;
}

.right div span {
    font-weight: bold;
    margin-bottom: 10px;
}

.right div span:first-child {
    font-size: 24px;
    color: lightgray;
}

.right div span:nth-of-type(2) {
    font-size: 23px;
    color: orange;

}

.right div span:last-child {
    font-size: 20px;

}

.right ul{
    padding: 10px;
}
.right ul li{
    margin: 30px 5px;
}

.right ul li a {
    font-weight: bold;
    text-decoration: underline;
}

footer {
    width: 100%;
    background: navy;
    text-align: center;
    color: white;
    position : absolute;
    bottom : -30px;
    
    
}
footer address {
    font-size: 20px;
    padding: 10px;
}
footer address a{
    text-decoration: underline;
}